// VARIABLES
$primary: #54e6af;
$secondary: #2c344b;
$tertiary: #121725;
$white: #fff;
$gray: #5a668a;
$gray-light: #c2cbe5;

// RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 300;
}

picture {
  display: block;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Chivo", sans-serif;
  background-color: $tertiary;
  display: flex;
}

// HELPERS
.text-primary {
  color: $primary;
}

@mixin breakpoint($screen) {
  @media screen and (min-width: $screen) {
    @content;
  }
}

// HEADER SECTION
.header {
  width: 100%;
  position: absolute;
  top: 62px;
  text-align: center;

  @include breakpoint(768px) {
    padding-left: 40px;
    text-align: left;
    top: 50px;
  }
}

// MAIN SECTION
.main {
  background-image: linear-gradient(
      to bottom,
      rgba($tertiary, 0.95),
      rgba($tertiary, 0.95)
    ),
    url("../mobile/image-host.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @include breakpoint(768px) {
    background-image: none;
    padding-left: 40px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }

  &__image {
    display: none;

    @include breakpoint(768px) {
      display: block;
      grid-column: 4 / 9;
      grid-row: 1;
    }

    img {
      width: 100%;
      max-width: 100%;
    }
  }

  &__content {
    text-align: center;
    margin-top: 175px;
    padding: 0 24px;
    grid-column: 1 / 8;
    grid-row: 1;

    @include breakpoint(768px) {
      background-color: $tertiary;
      height: fit-content;
      width: 100%;
      margin-top: 258px;
      padding: 98px 0 0;
      text-align: left;
    }
  }

  &__title {
    color: $white;
    text-transform: uppercase;
    font-size: 26px;
    line-height: 1.47;

    @include breakpoint(768px) {
      font-size: 48px;
    }
  }

  &__lead {
    color: $gray-light;
    font-size: 15px;
    line-height: 1.67;
    margin-top: 16px;
  }

  &__press {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr;
    grid-column-gap: 24px;
    max-width: 100%;
  }

  &__form {
    margin-top: 48px;

    display: flex;
    flex-direction: column;
    align-items: center;

    & > * {
      font-family: "Chivo", sans-serif;
      font-size: 14px;
      line-height: 2;
    }

    @include breakpoint(768px) {
      flex-direction: row;
    }
  }
}

input[type="email"] {
  background-color: $secondary;
  appearance: none;
  border: 1px solid $secondary;
  padding: 9px 32px;
  border-radius: 28px;
  font-weight: 400;

  width: 100%;

  &:focus {
    outline: none;
    border-color: $primary;
  }
}

::placeholder {
  color: $white;
  opacity: 0.5;
}

[type="submit"] {
  -webkit-appearance: none;
  background-color: $primary;
  border: 1px solid $primary;
  width: 100%;
  padding: 9px;
  border-radius: 28px;
  margin-top: 16px;
  color: $tertiary;
  font-weight: 600;
}

.press-icon img {
  max-width: 100%;
}
